<html>
    <style>
        html {
            background: url("../../assets/goobers/background_blurred.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
    <body>
        <div class="main">
            <div class="container">
                <h1 style="color:#000000;">Goobers</h1>
                <h3 style="color:#000000;">Stronger together!</h3>
                <iframe src="https://www.youtube.com/embed/skZtIzP3HNE"></iframe>

                <p style="color:#000000;">
                    Goobers is a 2D puzzle platformer developed for the Brackeys 2021.1 Jam by myself and Esther Holt.
                    <br><br>
                    In Goobers, you must solve puzzles and rescue your little Goober pals and escape!
                    Use 3 unique goober types to your advantage and reach the exit. But you must plan ahead or else your newfound size will backfire on you.
                    <br><br>Featuring a simple, cutesy pixelated style and some bouncy, slimey animation.
                    <br /><br>Developed over the course of 7 days, with the theme being "Stronger Together".
                    <br />It ranked 229th overall, out of 1831 entries.
                </p>

                <br><br>

                <div class="screenshot">
                    <div class="screenshothalf">
                        <img src="assets/goobers/2.png">
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/goobers/3.png">
                    </div>
                </div>

                <h3 style="font-size:24px;color:#000000;">Goobers on itch.io: 
                    <a (click)="navigateToUrl('https://surr-sloidah.itch.io/goobers')">Link</a>
                </h3>
                <h3 style="font-size:24px;color:#000000;">Goobers on indieDB: 
                    <a (click)="navigateToUrl('https://www.indiedb.com/games/goobers')">Link</a>
                </h3>
                <br />

                <p style="color:#000000;">Esther Holt on YouTube: 
                    <a (click)="navigateToUrl('https://www.youtube.com/@estherholt8435')">Link</a>
                </p>

                <br />

                <p style="line-height: 4px;color:#000000;">Cyberblaze - Released May 2020</p>
                <p style="line-height: 4px;color:#000000;">Genre - Wave Defense</p>
                <p style="line-height: 4px;color:#000000;">Engine - Unity</p>
                <br /><br />
            </div>
        </div>
    </body>
</html>
