<html>
    <style>
        html {
            background: url("../../assets/cyberblaze/background_blurred.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
    <body>
        <div class="main">
            <div class="container">
                <h1>Cyberblaze</h1>
                <h3 style="">Defend the data stream!</h3>
                <iframe src="https://www.youtube.com/embed/QzIq6AkRsIQ"></iframe>
                <p>
                    Cyberblaze is a wave defense shooter in which you are left to fend for yourself, fighting off swarms off enemies with a varied arsenal.
                    You must use everything at your disposal to defend the data stream, and can choose from a wide variety of munitions to fend off the growing horde.
                    <br><br>
                    Featuring a varied roster of enemies, weaponry, a simplistic, blocky art style and a progression system that rewards you with XP and levelling to further bolster your power.
                </p>
                <br><br>
                <div class="screenshot">
                    <div class="screenshothalf">
                        <img src="assets/cyberblaze/2.png">
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/cyberblaze/3.png">
                    </div>
                </div>

                <h3 style="font-size:24px;">Cyberblaze on itch.io: 
                    <a (click)="navigateToUrl('https://surr-sloidah.itch.io/cyberblaze')">Link</a>
                </h3>
                <br />

                <br />

                <p>Cyberblaze - Released May 2020</p>
                <p>Genre - Wave Defense</p>
                <p>Engine - Unity</p>
            </div>
        </div>
    </body>
</html>
