html {
    color: white;
    font-size: 20px;
    margin: 24px;
    word-wrap: break-word;
    text-align: left;
}

body {
    scrollbar-gutter: stable;
}

h1 {
    width: 100%;
}

h4 {
    margin-top: -20px;
}

p {
    width: 100%;
}

.collaborator {
    display: flex;
    position: relative;
    justify-content: space-around;
}

.collaborator-text {
    width: 80%;
}

.collaborator-image {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 20%;
}

a {
    color: rgb(255, 0, 0);
    text-decoration: none;
    transition: all 0.125s;
    cursor: pointer;
}

a:hover {
    color: rgb(255, 136, 136);
}

#middle {
    margin-left: 16px;
    margin-right: 16px;
}