<html>
    <body>
        <div class="main">
            <p>Here is a list of all the lovely people I've worked with, what we've worked on together and their pages.</p>
            <hr>
            <div class="collaborator">
                <div class="collaborator-text">
                    <h2>ChicoBrrr (who is also my amazing gf!!!)</h2>
                    <p>Projects we've collaborated on: <br>Eden (VA), The Security Room (VA, Music)</p>
                    <a (click)="navigateToUrl('https://x.com/ChicoBrrr')">X/Twitter</a>
                </div>
                <div class="collaborator-image">
                    <img src="../assets/collaborators/chicobrrr_pfp.png" height="145px">
                </div>
            </div>
            <hr>
            <div class="collaborator">
                <div class="collaborator-text">
                    <h2>seamish</h2>
                    <p>Projects we've collaborated on: <br>Eden, The Security Room (Music)</p>
                    <a (click)="navigateToUrl('https://open.spotify.com/artist/0emACMJIsRPbOxgnAae4hl?si=1Ak_kCbtSt2IJvu74JwzEA')">Spotify</a>
                </div>
                <div class="collaborator-image">
                    <img src="../assets/collaborators/seamish_pfp.png" height="145px">
                </div>
            </div>
            <hr>
            <div class="collaborator">
                <div class="collaborator-text">
                    <h2>Nikita Vychuzhanin</h2>
                    <p>Projects we've collaborated on: <br>The Security Room (Music), Seven Favors (Music, SFX & Modelling)</p>
                </div>
                <div class="collaborator-image">
                    <img src="../assets/eden/eden_icon.png" height="145px">
                </div>
            </div>
            <hr>
            <div class="collaborator">
                <div class="collaborator-text">
                    <h2>WitchGirlfriend</h2>
                    <p>Projects we've collaborated on: <br>Seven Favors (Artwork), The Fumbling Wizard (Artwork & Modelling)</p>
                    <a (click)="navigateToUrl('https://witchgf.itch.io/')">itch.io</a>
                    <a id="middle" (click)="navigateToUrl('https://www.youtube.com/@WitchGirlfriend')">YouTube</a>
                </div>
                <div class="collaborator-image">
                    <img src="../assets/eden/eden_icon.png" height="145px">
                </div>
            </div>
            <hr>
            <div class="collaborator">
                <div class="collaborator-text">
                    <h2>Jakiboi</h2>
                    <p>Projects we've collaborated on: <br>The Security Room, Buddy, Cyberblaze (Music)</p>
                    <a (click)="navigateToUrl('https://open.spotify.com/artist/1TmpfkDXYVepMm1cDe7hXG?si=NU89w_5_T1SMKuaubHbB_Q')">Spotify</a>
                </div>
                <div class="collaborator-image">
                    <img src="../assets/collaborators/jakiboi_pfp.png" height="145px">
                </div>
            </div>
            <hr>
            <div class="collaborator">
                <div class="collaborator-text">
                    <h2>Esther Holt</h2>
                    <p>Projects we've collaborated on: <br>Goobers (Artwork & Music)</p>
                    <a (click)="navigateToUrl('https://www.youtube.com/@estherholt8435')">YouTube</a>
                </div>
                <div class="collaborator-image">
                    <img src="../assets/collaborators/estherholt_pfp.png" height="145px">
                </div>
            </div>
            <hr>
        </div>
    </body>
</html>