<html>
    <style>
        html {
            background: url("../../assets/buddy/buddy_blurred.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
    <body>
        <div class="main">
            <div class="container">
                <h1>Buddy</h1>
                <br><br>
                <iframe src="https://www.youtube.com/embed/DnWv-3VoGD0"></iframe>

                <p>
                    Buddy is a short point and click horror game in which the player awakens in a 
                    bizarre room with a large computer AI hooked up in front of them, the player has to figure out how to escape the room as well as 
                    unlock each of the 8 endings the game has, while having to deal with the AI's often annoying demeanour.
                    <br><br>
                    You must use your wits and the tools available to you to escape from Buddy's room.
                    <br />Or die trying.
                    <br><br>
                    The game is all hand-drawn artwork, created by myself in Paint Tool SAI.
                </p>

                <br><br>

                <div class="screenshot">
                    <div class="screenshothalf">
                        <img src="assets/buddy/2.png">
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/buddy/1.png">
                    </div>
                </div>

                <h3 style="font-size:24px;">Buddy on itch.io: 
                    <a (click)="navigateToUrl('https://surr-sloidah.itch.io/buddy')">Link</a>
                </h3>
                <h3 style="font-size:24px;">Buddy on indieDB: 
                    <a (click)="navigateToUrl('https://www.indiedb.com/games/buddy1')">Link</a>
                </h3>
                <h3 style="font-size:24px;">Buddy on Google Play: 
                    <a (click)="navigateToUrl('https://play.google.com/store/apps/details?id=com.surrsloidah.Buddy')">Link</a>
                </h3>
                <br />

                <br />

                <p>Buddy - Released January 2020</p>
                <p>Genre - Point and Click, Horror</p>
                <p>Engine - Unity</p>
                <p>
                    <a href="privacy/buddy">Android Privacy Policy</a>
                </p>
                <br /><br />
            </div>
        </div>
    </body>
</html>

<router-outlet></router-outlet>