<html>
    <style>
        html {
            background: url("assets/thumbnail_plain.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
    <body>
        <div class="main">
            <h1>EDEN</h1>
            <h3>Buddy: Chapter 3</h3>
            <p>In 2015... the EDEN Group, previously renowned for their technological advancements and AI systems, discovers Neurox-V in an asteroid site in New Mexico. A spike in government investments and third-party investors allows the group to skyrocket, expanding into every industry they possibly could.
                <br><br>
                In 2019... a report about a rogue computer in a derelict EDEN facility nearly came to light, but was swept under the rug by authorities with vested interests.
                <br><br>
                In 2021... the Security Room experiments began.
                <br><br>
                In 2026... the experiment backfired, the Neurox-V infection broke free of EDEN's restraints and spread out into the world. Rumour has it that there be answers in another EDEN location, one that fell two years prior to its own outbreak.
                <br><br>
                Following on from the events of <i>Buddy</i> and <i>The Security Room</i>, EDEN puts you in the boots of a prototype robot, having been mysteriously re-activated in the remote, abandoned research facility. 
                <br><br>
                Your circumstances may be unknown, but your mission is clear: Retrieve the Data Drive
                <br><br>
                It will not be easy, as something lurks in the depths of the facility, and it hears you. It hears everything you do. You must keep your wits about you and carefully manage the items at your disposal and the noises you make to complete your objective and escape this madhouse.
                <br><br>
                Inspired by the <i>Granny</i> series, <i>Amnesia: The Bunker</i> and <i>Stay Out of the House</i>.
            </p>
            <h3>Currently in development</h3>
        </div>
    </body>
</html>

<router-outlet></router-outlet>