<html>
    <style>
        html {
            background: url("../../assets/sevenfavours_blurred2.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
    <body>
        <div class="main">
            <div class="container">
                <h1>Seven Favors</h1>
                <h3>You have 7 days to prove your worth. Do you believe you are worthy?</h3>
                <iframe src="https://www.youtube.com/embed/5ax56POmSXM"></iframe>
                <p>
                    Seven Favours is a fast paced hack-n-slash game developed for Ludum Dare 52 by myself, 
                    Nikita Vychuzhanin and WitchGirlfriend.
                    <br />Developed over the course of 3 days, with the theme being 'Harvest'.
                    <br />It ranked 161st, out of 1692 entries.
                    <br><br>
                    Slay the heretics across a variety of levels. 
                    <br />You must remain vigilant and plan ahead, your time is limited.
                    <br /><br />Slay a variety of different enemies, each requiring their own strategy to kill.
                    The better you perform, the more pleased 'they' become.
                    <br />But if you fail, 'they' become unhappy.
                    <br><br>
                    You must also maintain a flock of your own.
                    <br />Harvest resources to maintain your cult and followers, else you risk them leaving.
                    <br />And 'they' would hate for that to happen.
                </p>

                <div class="screenshot">
                    <div class="screenshothalf">
                        <img src="assets/seven-favours/2.png">
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/seven-favours/4.png">
                    </div>
                </div>

                <h2 style="line-height:36px">Do you have what it takes to earn your position amongst the gods?</h2>
                <h3 style="font-size:24px;">Seven Favors on Ludum Dare: 
                    <a (click)="navigateToUrl('https://ldjam.com/events/ludum-dare/52/seven-favors')">Link</a>
                </h3>
                <h3 style="font-size:24px;">Seven Favors on itch.io: 
                    <a (click)="navigateToUrl('https://surr-sloidah.itch.io/seven-favours')">Link</a>
                </h3>
                <h3 style="font-size:24px;">Seven Favors on indieDB: 
                    <a (click)="navigateToUrl('https://www.indiedb.com/games/seven-favors')">Link</a>
                </h3>
                <br />
                <p>Nikita Vychuzhanin: 
                    <a (click)="navigateToUrl('https://nikitavychuz.com/')">Link</a>
                </p>
                <p>WitchGirlfriend on itch.io: 
                    <a (click)="navigateToUrl('https://witchgf.itch.io/')">Link</a>
                </p>

                <br />

                <p>Seven Favors - Released January 2023 as part of LD52</p>
                <p>Genre - Hack and Slash</p>
                <p>Engine - Unity</p>
                <br /><br />
            </div>
        </div>
    </body>
</html>
