<html>
    <style>
        html {
            background: url("assets/buddy/buddy_blurred.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
    <body>
        <div class="main">
            <div class="container">
                <h2>Buddy - Android Privacy Policy</h2>

                <!-- <h3>
                    Buddy is a short point and click horror game in which you must escape from a room controlled by the eponymous Buddy.
                    <br />Will you make out before he catches you?
                </h3> -->
                <div class="textchunk">
                    <p style="font-size: 24px">This privacy policy is designed to help you understand how data may be collected from your interactions with the
                        Android port of the game "Buddy", hosted on Google Play.
                    </p>

                    <h3>What data will be collected?</h3>
                    <span>No data is collected under any circumstances from playing the game. There is no means for the game to
                        collect data through play, it does not communicate with anything that requires transferral of data. It is an entirely offline experience.

                        <br><br>Contact information may be obtained and retained when you, the user, reach out to me at my support email.

                        <br><br>This game uses Unity Ads for advertising, which may use and collect anonymous data about your interests to customize advertising.
                        Interest and location data may be linked to your device, but not your identity. Please check the link below to see Unity's Privacy Policy and
                        opt-out capabilities.
                        <br>Unity Privacy Policy - <a href="https://unity.com/legal/privacy-policy">https://unity.com/legal/privacy-policy</a>
                        <br>Unity Game Player and App User Privacy Policy - <a href="https://unity.com/legal/game-player-and-app-user-privacy-policy">https://unity.com/legal/game-player-and-app-user-privacy-policy</a>
                    </span>

                    <h3>Why will this data be collected?</h3>
                    <span>Contact information will be collected and utilised for the following:
                        <br>- To support you as the user with the game
                        <br>- For further contact regarding support or game issues
                    </span>

                    <h3>How can I delete my advertising data?</h3>
                    <span>
                        You can request for your advertising data collected by Unity Ads to be deleted by getting in touch with Unity at <a href="mailto:DPO@unity3d.com">DPO&#64;unity3d.com</a>
                        <br>Further information can be found in the Unity Game Player and App User Privacy Policy linked above. 
                    </span>

                    <h3>Safeguarding</h3>
                    <span>Any information that is collected is generally not retained for any longer than is necessary. When data is retained, it will be kept confidential.
                        I will not share any of your data with third parties or sell your data. Data may be disclosed if required by law.
                    </span>

                    <h3>Contact</h3>
                    <span>If you wish to get in contact with me for support purposes, have any questions, or want to opt-out of having contact information retained, you can contact me at
                        leif.unity3dbusiness&#64;gmail.com
                    </span>

                    <br/>
                    <br/>

                    <p>
                        <a href="games/buddy">Return to Buddy Page</a>
                    </p>
                    <br /><br />
                </div>
            </div>
        </div>
    </body>
</html>
