<html>
    <style>
        html {
            background: url("assets/security-room/background_blurred.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
    <body>
        <div class="main">
            <div class="container">
                <h1>The Security Room</h1>
                <h3>Buddy: Chapter 2</h3>
                <iframe src="https://www.youtube.com/embed/Y8vhalTeo5g?si=prCYG5KGCQpHMdd3"></iframe>
                <!-- <h4>The only thing between you and the next living thing is a series of cameras. Use them wisely.</h4> -->

                <p>
                    An atmosphere-driven, PSX inspired horror game set after the events of the first <i>Buddy</i> game; 
                    <i>The Security Room</i> places you in the titular Security Room, awakening with no prior memories or knowledge, 
                    and no way to get out. Your only hope lies in the room's last functioning computer screen, and whatever tools the security system may hold, 
                    perhaps they can help you figure out the mystery behind the malevolent computer and what became of him.
                    <br><br>
                    Using a hybrid of the First Person and Camera/Surveillance styles of gameplay, your investigate skills, 
                    memory and time-management abilities will be tested as you attempt to escape from the room and discover the 
                    underlying mystery of this run-down facility, but be warned, you're not alone... 
                    <br><br>
                    Can you escape from <i>The Security Room?</i>
                </p>
                <br><br>
                <div class="screenshot">
                    <div class="screenshothalf">
                        <img src="assets/security-room/1.png">
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/security-room/3.png">
                    </div>
                </div>

                <div class="screenshot">
                    <div class="screenshothalf">
                        <img src="assets/security-room/6.png">
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/security-room/5.png">
                    </div>
                </div>

                <h3 style="font-size:24px;color:#FFFFFF;">The Security Room on itch.io: 
                    <a (click)="navigateToUrl('https://surr-sloidah.itch.io/the-security-room')">Link</a>
                </h3>

                <!-- <h2 style="line-height:36px">Enter, if you dare.</h2> -->
                <br />

                <br />

                <p>The Security Room - Released December 2025</p>
                <p>Genre - First Person, Fixed Camera, Horror</p>
                <p>Engine - Unity</p>
                <br /><br />
            </div>
        </div>
    </body>
</html>
