<html>
    <style>
        html {
            background: url("../../assets/fumbling-wizard/background_blurred.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
    <body>
        <div class="main">
            <div class="container">
                <h1 style="font-size:64px">The Fumbling Wizard</h1>
                <h3>Delay the inevitable!</h3>

                <p>
                    The Fumbling Wizard is a short game developed for Ludum Dare 50!
                    <br />You must protect the world from the impending meteor for as long as possible.
                    You must cast a spell to keep it at bay......but someone mixed up the words in your spellbook. 
                    <br>You must quickly flick between the pages
                    to find the correct word and give us all just a little bit more time, uttering the wrong word will however bring us closer to our doom.
                    <br>
                    And that's not even all! The spell requires potions, and their effects may not be the healthiest.
                    <br><br>It ranked 526th overall, out of 2901 entries.
                </p>
                <br>

                <div class="screenshot">
                    <div class="screenshothalf">
                        <img src="assets/fumbling-wizard/2.png">
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/fumbling-wizard/4.png">
                    </div>
                </div>
                <div class="screenshot">
                    <div class="screenshothalf">
                        <img src="assets/fumbling-wizard/3.png">
                    </div>
                </div>

                <h3 style="font-size:24px;">The Fumbling Wizard on itch.io: 
                    <a (click)="navigateToUrl('https://surr-sloidah.itch.io/the-fumbling-wizard')">Link</a>
                </h3>
                <br />

                <p>WitchGirlfriend on itch.io: 
                    <a (click)="navigateToUrl('https://witchgf.itch.io/')">Link</a>
                </p>

                <br />

                

                <p>The Fumbling Wizard - Released April 2022</p>
                <p>Genre - First Person, Puzzle</p>
                <p>Engine - Unity</p>
                <br /><br />
            </div>
        </div>
    </body>
</html>
