<link href="https://fonts.cdnfonts.com/css/vhs-gothic" rel="stylesheet">

<div class="app-main">
    <div class="center">
        <div class="top-of-page">
            <div class="header">
                <div class="sloidah-image">
                    <img src="assets/branding/pfp_circular.png" height="145px">
                </div>
                <div class="sloidah-text" height="145px">
                    <img src="assets/branding/text_top.png" height="145px" id="img1">
                    <img src="assets/branding/text_bottom.png" height="145px" id="img2">
                    <img src="assets/branding/text_blood.png" height="145px" id="img3">
                </div>
            </div>
            <hr style="margin-bottom: 4px;">
            <div class="navbar">
                <a routerLink="" id="left">HOME</a>
                <a routerLink="games-list">GAMES</a>
                <a routerLink="collaborators">COLLABORATORS</a>
                <a routerLink="socials" id="right">SOCIALS</a>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

