<html>
    <style>
        html {
            background: url("../../assets/slaughter-lands/background_blurred.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
    <body>
        <div class="main">
            <div class="container">
                <h1>Slaughter Lands</h1>
                <h3>How long can you survive?</h3>

                <p>
                    Slaughter Lands is a Call Of Duty Zombies inspired game, in which the player must survive against hordes of the undead.
                    <br><br>
                    This game holds a special (if janky) place in my heart, as it is the first Unity game I ever made.
                    It was in development since 2015, when I was 13. And has gone over many, MANY iterations.
                    <br><br>
                    The game is no longer in development due to a variety of factors; primarily due to a desire to move onto new projects, on top of
                    upgrading Unity, which broke the entire game's codebase as it was previously written in JavaScript.
                </p>
                <br><br>
                <div class="screenshot">
                    <div class="screenshothalf">
                        <img src="assets/slaughter-lands/1.png">
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/slaughter-lands/2.png">
                    </div>
                </div>
                <div class="screenshot">
                    <div class="screenshothalf">
                        <img src="assets/slaughter-lands/3.png">
                    </div>
                </div>

                <h3 style="font-size:24px;">Slaughter Lands on itch.io: 
                    <a (click)="navigateToUrl('https://surr-sloidah.itch.io/slaughter-lands')">Link</a>
                </h3>
                <br />

                <br />

                <p>Slaughter Lands - Released September 2016</p>
                <p>Genre - First Person Shooter, Horror</p>
                <p>Engine - Unity</p>
                <br /><br />
            </div>
        </div>
    </body>
</html>
