<html>
    <body>
        <div class="main">
            <p>Here is a list of my social media sites where you can get updates on my work.</p>
            <a (click)="navigateToUrl('https://www.youtube.com/@surrsloidah')">YouTube</a>
            <br><a (click)="navigateToUrl('https://surr-sloidah.itch.io/')">itch.io</a>
            <br><a (click)="navigateToUrl('https://gamejolt.com/@surr_sloidah/games')">GameJolt</a>
            <br><a (click)="navigateToUrl('https://www.indiedb.com/members/surr-sloidah/games')">indieDB</a>
            <br><a (click)="navigateToUrl('https://x.com/sloidah_dev')">X/Twitter</a>
            <br><a (click)="navigateToUrl('https://letterboxd.com/surrsloidah/')">Letterbox</a>
        </div>
    </body>
</html>