/* You can add global styles to this file, and also import other style files */
html, body { 
    padding: 0; margin: 0;
    /* scrollbar-gutter: stable; */
} 

#main {
    overflow-y: scroll;
}

.background {
    position: fixed;
    width: 100%;
    height: calc(100%);
    overflow: hidden;
    margin-top: -40px;
}

.background .height{
    display: block;
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3;
}

.background .width{
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3;
}

.textchunk {
    /* align-items: left; */
    /* width: 50%; */
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.textchunk span{
    text-align: left;
    justify-content: left;
    width: 100%;
    font-size: 24px;
}

.screenshot {
    width: 100%;
    align-items: center;
    display: flex;
}

/* .screenshothalf {
    width: 50%;
    height: 100%;
}

.screenshothalf span{
    font-size: 24px;
    vertical-align: middle;
    text-align: right;
    float: right;
    padding-right: 25px;
}

.screenshothalf img{
    display: block;
    padding: 25px;
    max-width: 32vw;
    max-height: 18vw;
}

.screenshothalf iframe{
    margin-left: 25px;
    display: block;
    width: 32vw;
    height: 18vw;
} */

@media screen and (max-width: 1000px) {
    .textchunk {
        width: 80%;
    }
  }