<html>
    <body>
        <div class="main">
            <p>Hello there, I am Leif, also known as surr sloidah.
                <br />
                <br />
                I am a software engineer and hobbyist game developer, and this is my (newly renovated) website.
                <br />
                <br />
                I have developed several games over the years and this website is where you can find information about all of them, including upcoming projects.
                <br />
                <br />
                You can also find out more about who I regularly collaborate with on my games and check their stuff out.
            </p>
        </div>
    </body>
</html>